body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.sentence-part {
  font-size: 2em;
  line-height: 1.5em;

  &:first-child {
    text-align: right;
  }
}

.calculation {
  text-align: center;
}

.submit, .back {
  margin-top: 50px;
  text-align: center;
}
